save=true # No need for --save during `npm i`, still need --save-dev for dev dependencies
save-exact=true # Save the exact version (without ^ or ~)
engine-strict=true # Force node & npm versions requirements
registry=https://registry.npmjs.org/