:host {
  display: block;
  font-family: "Slackside One", cursive;
}

.counter {
  background: url('../../assets/img/matrix-bg.png');
  background-size: cover;
  width: 300px;
  height: 100px;
  font-size: 70px;
  color: #F0FFE7;
  text-shadow: 0px 0px 12px rgba(138,233,81,0.85);
  text-align: center;
  line-height: 70px;
}