:host {
  display: block;
}

button {
  text-align: center;
  padding: 10px;
  background: rgb(42, 81, 255);
  color: #fff;
  border-radius: 10px;
}

.counter {
  font-family: "Slackside One", cursive;
  background: url('../../assets/img/matrix-bg.png');
  background-size: cover;
  width: 300px;
  height: 100px;
  font-size: 70px;
  color: #F0FFE7;
  text-shadow: 0px 0px 12px rgba(138,233,81,0.85);
  text-align: center;
  line-height: 70px;
}